body, html, #root {
  height: 100%;
  margin: 0;
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.geral-circle {
  background-color: #28a745;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 700px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.checkout-container {
  width: 100%;
  padding: 0px 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  height: 50px;
}

.content-container {
  display: flex;
  justify-content: center; /* Centraliza os cards */
  align-items: center; /* Centraliza os cards verticalmente */
  gap: 20px; /* Espaçamento entre os cards */
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  flex: 1; /* Faz com que os cards ocupem o mesmo espaço */
  max-width: 500px; /* Limita a largura máxima de cada card */
  min-width: 250px; /* Define a largura mínima para os cards */
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.finalize-payment {
  text-align: center;
}

.finalize-button {
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.finalize-button:hover {
  background-color: #218838;
}
